<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head.html"></head>
<body>
<header th:insert="blocks/header.html"></header>
<main>
    <div class="container marketing">
        <div class="row featurette">
            <hr class="featurette-divider mt-1 mb-md-5">
            <div class="col-md-7">
                <h2 class="featurette-heading"> Сохраняем историю. <span class="text-muted">Чтим предков.</span></h2>
                <p class="lead">Национальная библиотека Казани является хранительницей мощного информационного ресурса.
                    Более 90 лет она собирает документальное наследие страны. В настоящее время библиотечный фонд
                    составляет около 10 млн единиц хранения.Библиотека активно генерирует и приобретает электронные
                    информационные ресурсы крупнейших мировых производителей и предоставляет свободный доступ к ним.</p>
            </div>
            <div class="col-md-5">
                <img src="images/library_1.jpg" width="450">
            </div>
        </div>
        <div class="row featurette">
            <hr class="featurette-divider mt-5 mb-md-5">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading" style="text-align: right;">Только новые технологии. <span
                        class="text-muted">И никаких злых библиотекарей.</span></h2>
                <p class="lead" style="text-align: right;">Оснащенная современным оборудованием, библиотека использует
                    новейшие информационные технологии, на качественно новом уровне удовлетворяет образовательные,
                    научные, культурные запросы общества.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="images/library_2.jpg" width="450">

            </div>
        </div>
        <div class="row featurette">
            <hr class="featurette-divider mt-5 mb-md-5">
            <div class="col-md-7">
                <h2 class="featurette-heading">Все для людей. <span class="text-muted">И даже немного больше. </span>
                </h2>
                <p class="lead">Реализуя функции социокультурного центра, библиотека развивает традиции
                    культурно-просветительного учреждения мирового значения, способствует гуманизации общества.
                    Обслуживание пользователей в рамках социокультурной деятельности основано на использовании
                    возможностей функционально продуманной инфраструктуры, которые обеспечивают удовлетворение досуговых
                    и познавательных потребностей посетителей.</p>
            </div>
            <div class="col-md-5">
                <img src="images/library_3.jpg" width="450">
            </div>
        </div>
        <center>
            <div class="row" >
                <hr class="featurette-divider mt-5 mb-md-5">
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle img-thumbnail"
                         src="images/director.jpg" width="160">
                    <h4 class="featurette-heading mt-2">Александр Сергеевич</h4>
                    <p class="text-muted">директор библиотеки</p>
                    <blockquote class="text_effect">«Ученье - свет, а неученье - тьма.»</blockquote>
                </div>
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle img-thumbnail"
                         src="images/org.jpg" width="160">
                    <h4 class="featurette-heading mt-2">Анна Андреевна</h4>
                    <p class="text-muted">бухгалтер</p>
                    <blockquote class="text_effect">«Или ты управляешь своими деньгами, или их отсутствие управляет
                        тобой.»
                    </blockquote>
                </div>
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle img-thumbnail"
                         src="images/bibliotekar.jpg" width="160">
                    <h4 class="featurette-heading mt-2">Антон Павлович</h4>
                    <p class="text-muted">организатор мероприятий</p>
                    <blockquote class="text_effect">«Культура – это приблизительно все то, что делаем мы и чего не
                        делают обезьяны.»
                    </blockquote>
                </div><!-- /.col-lg-4 -->
            </div>
        </center>
        <footer th:insert="blocks/footer.html"></footer>
    </div>
</main>
</body>
</html>