<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="blocks/head.html"></head>
<body>
<header th:insert="blocks/header.html"></header>
<div class="container marketing">
    <div class="row featurette">
        <hr class="featurette-divider mt-1 mb-md-5">
        <form class="form-signin pt-5">
            <h1 class="h3 mb-3 font-weight-normal text-center">Вход</h1>
            <input type="email" id="inputEmail" class="form-control" placeholder="Логин" required="" autofocus="">
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit"
                    style="background-color: #28a745; border: none">Войти
            </button>
        </form>
    </div>
</div>
</body>
</html>