<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
    <link rel="shortcut icon" href="images/logo.svg"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
<header th:insert="blocks/user_header.html"/>
<div class="container marketing">
    <div class="row featurette">
        <hr class="featurette-divider mt-1 mb-md-5">
        <p style="font-size: 25px; text-align: center" class="mt-3 mb-5">Моя книжная полка</p>
        <table>
            <tr>
                <td th:each="el: ${list}">
                    <a th:href="${el.getBookId()}"><img style="border-radius: 3px" th:src="${el.getBookImg()}" width="150"></a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>